html {
  font-size: 10px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: 'Roboto', sans-serif;
  }
  html {
    background-color: #00539F;
  }

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
}

  h1 {
    font-size: 40px;
    text-align: center;
  }
  h1 {
    margin: 0;
    padding: 20px 0;    
    color: #00539F;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.253);
  }
  
  p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
  }
  /* */